{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5">
            <h1 class=''>Password reset complete</h1>
            <div class="row" style=" margin-top: 40px; margin-bottom: -14px;">
                  <div class="container">
                  <a href="/login">
                        <button type="button" class=" text-left btn btn-dark  btn-sm">Login</button>
                  </a>
                  </div>
                </div>      
            
            </div>
</div>
{% endblock %}
